users:
  - name: ${VM_USER}
    groups: users, admin
    home: /home/${VM_USER}
    shell: /bin/bash
    lock_passwd: false
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDI7QtI9PxiEvtbIeH65LIwVq9WkiTramzImkYCBpRIJ9uNB465Q11ig2Xzuk6GWOg7xYK7Y4esra+8PAAVcR4LxfYLNj/SK0aBqBdI0xdx7UjvBHQCw7v29xsZczkU6SdD/HgClHr4GYGnFMb43JzvWxcOB+GhdRWRSchdXX1ILhihgXv7easUwyKrgSF/88kJ8pvWe5XpClncAglv2l2lEpPd7jdW9QQV++6y8vJgM3KJFUj9EwOOzc7bNo/ViBpFczN39OmZ4X0GILau6fqFQKIE9kw160zUf+us+V+Wp+Idwu/PJh/RqY/YjAq1TUqJyFzNmqRdwheYy/dXmdbtUy/ut9gETvAdT+Safl3YY4NUNcGZ+KRD4IOy8aBhTw4VXasD9e9p+tVe1oQcXL1vjfGwaokgvx2YMpObM/BVbpXlCeq4bm6B8dhJcapAuHeZCU1C6sBx4mZ5TuIJbTZK2jLXSOj1v55P+cVivWNwpAz1xkZluKdTJdsWtzrdDJM= ekarani@serralimpa-pc-39
    sudo: ALL=(ALL) NOPASSWD:ALL
ssh_pwauth: true
disable_root: false
chpasswd:
  list: |
     ${VM_USER}:senhasegura
  expire: false
package_update: true
package_upgrade: true
packages:
#  - gemu-gues-agent
#  - apt-transport-httpsvgf4
#  - ca-certificates
#  - curl
#  - gnupg-agent
#  - software-properties-common
#  - zsh

growpart:
    mode: auto
    devices: ['/']
    ignore_growroot_disabled: false

runcmd:
  #- [sh, -c, '']
  #- [sh, -c, 'sudo apt-key' fingerprint ]
  #- [ sh, -c, 'sudo apt -y update' ]
  #- [ sh, -c, 'sudo apt install -y docker.io']
  #- [ sh, -c, 'sudo apt install -y docker.compose']

final_message: "The system is finally up, after $UPTIME seconds"

  
